:root {
  --primary: #f2fefe;
  --white: #ffffff;
  --black: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  /* margin-bottom: 50px; */
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

header {
  height: 40vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

main {
  padding: 5rem 4rem;
}

.filter-btn {
  padding: 1rem 2rem;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 1rem;
  border: none;
  border-radius: 50px;
}

.filter-btn:hover {
  background-color: black;
  color: var(--white);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-active {
  background-color: black;
  color: var(--white);
  cursor: pointer;
}

hr {
  margin: 1.5rem 0;
}

.posts-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

/* .post{
    width: 32%;
    
}  */

.posts-container img {
  border-radius: 20px;
}

.thumbnail-container,
.meta,
.content {
  margin: 0 0 1.2rem 0;
}

.meta {
  background-color: var(--primary);
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.read-more-btn .read-btn {
  font-size: 1rem;
  background-color: var(--black);
  text-decoration: none;
  outline: none;
  padding: 0.7rem 1rem;
  color: var(--white);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.read-more-btn .read-btn:hover {
  background: linear-gradient(to left, #f2fefe 50%, #000000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: black;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.read-more-btn {
  margin-top: 2rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.527);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  width: 40%;
  height: 80vh;
  overflow-y: scroll;
}

.popup::-webkit-scrollbar {
  display: none;
}

.full-img {
  border-radius: 20px;
  margin-bottom: 20px;
}

.modal-popup.hide {
  display: none;
}

.popup {
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.meta {
  text-transform: capitalize;
}

/* Media Query */

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .posts-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  header {
    font-size: 1rem;
  }
  .btn-container .filter-btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .post {
    width: 100%;
  }
}
